doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Liberland"
        link(rel="shortcut icon", href="/images/favicon.ico")

    h1 404 Error

    body
        p That page wasn't found. Maybe try going #[a(href="/") home?]
