include ./base.pug

h1(class="centered") About Liberland

h2(class="centered") The Birth of Liberland

div
    p The Free Republic of Liberland is a sovereign state located between Croatia and Serbia on the west bank of the Danube river. The nearest towns are Zmajevac (Croatia) and Bački Monoštor (Autonomous Province of Vojvodina, Serbia). On some maps, this area is referred to as “Gornja Siga”.

    p Liberland came into existence due to a border dispute between Croatia and Serbia. This area along the west bank of the Danube river is not claimed by Croatia, Serbia or any other country. It was therefore #[a(href="https://en.wikipedia.org/wiki/Terra_nullius") terra nullius], a no man’s land, until Vít Jedlička seized the opportunity and on 13 April 2015 formed a new state in this territory – Liberland. The boundary was defined so as not to interfere with the territory of Croatia or Serbia.

    p Its total area of approximately 7 km² is now the third smallest sovereign state, after the Vatican and Monaco. For more information regarding the border dispute between Croatia and Serbia see an #[a(href="http://en.wikipedia.org/wiki/Croatia%E2%80%93Serbia_border_dispute") article on Wikipedia].

    p The motto of Liberland is “live and let live” because Liberland prides itself on personal and economic freedom of its people, which is guaranteed by the #[a(href="/constitution") Constitution], which significantly limits the power of politicians so they could not interfere too much in the freedoms of the Liberland nation.
br

h2(class="centered") Basic information
table
    tr
        td Official name
        td Free Republic of Liberland
    tr
        td Short name
        td Liberland
    tr
        td Flag
        td #[img(src="/images/flag.png" alt="The Flag Of Liberland" height="100px" width="150px")]
    tr
        td Coat of Arms
        td #[img(src="/images/coatOfArms.png" alt="The Coat of Arms of Liberland"  height="100px" width="100px")]
    tr
        td Motto
        td Live and let live
    tr
        td Location
        td #[a(href="https://www.google.com/maps/place/45%C2%B046'00.0%22N+18%C2%B052'00.0%22E/") 45° 46′ N, 18° 52′ E]
    tr
        td Area
        td 7 km²
    tr
        td Form of government
        td Constitutional republic with elements of direct democracy
    tr
        td Official languages
        td English
    tr
        td President
        td Vít  Jedlička
    tr
        td Constitution
        td #[a(href="/constitution") Constitution of the Free Republic of Liberland]
    tr
        td Laws
        td #[a(href="/laws") Laws of the Free Republic of Liberland]
